
<app-header></app-header>
  <section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="sec-f117">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
          </colgroup>
          <thead class="u-black u-table-header u-table-header-1">
            <tr style="height: 21px;">
              <th class="u-border-1 u-border-black u-table-cell">Tarifas General</th>
              <th class="u-border-1 u-border-black u-table-cell">2D</th>
              <th class="u-border-1 u-border-black u-table-cell">3D</th>
              <th class="u-border-1 u-border-black u-table-cell">4D</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr style="height: 75px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell"> Funciones Desde las 12:00 m hasta las 3:30 p.m.</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$9.000</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$11.000</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$13.000</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell"> Lunes y Jueves ( No Festivos ) Desde las 3:31 p.m.
                hasta las 11:59 p.m.</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$10.400</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$12.400</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$14.400</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell"> Martes y Miercoles ( No Festivos ) Funciones Desde
                las 12:00 m hasta las 11:59 p.m.</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$7.100</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$9.100</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$11.100</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell"> Viernes -Sábados -Domingos - Festivos /Desde las
                3:31 p.m. hasta las 11:59 p.m.</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$14.200</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$15.200</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">$17.200</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <app-footer></app-footer>